{% extends 'roche/base.html' %}
{% load i18n %}

{% block content %}

<div class="container" style="margin-top: 70px;">

<h1>About</h1>

<p>
Welcome to the website of the Siku quanshu project.
The objective of the website is to provide an open source
environment for collaborative annotation of classical Chinese texts.
</p>

<p>
All content is provided under a Creative Commons license to
 allow the free usage of texts for academic purposes.
 Following international standards in digital humanities the
texts are marked up according to Text Encoding Initiative (TEI)
(<a href="http://www.tei-c.org/">http://www.tei-c.org</a>) guidelines
 and stored in an XML format, which facilitates the usage of texts in other projects.
 The open source framework of the website itself encourages
 the implementation of toolsets for text analysis on the website.
</p>

<p>
The website offers the following key features:
</p>

<ul>
<li>service for Optical Text Recognition (OCR)</li>
<li>search within texts</li>
<li>simple annotation editor</li>
<li>automated markup</li>
</ul>

<p>
This project was funded by the <a href="http://stiftung.mfg.de/">Karl Steinbuch Foundation</a>.
</p>

<p>
For more information on contributing texts please checkout the documentation.
</p>

<h3>Contact</h3>

</div>

{% endblock %}
