{% extends 'djiki/base.html' %}
{% load i18n djiki_tags roche_tags %}
{% load url from future %}
{% block djiki_main %}

<h3>SPARQL</h3>
{{sparql_results}}

<h3>Wiki</h3>
<p>
{% blocktrans %}The page with title <strong>{{ title }}</strong> does not exist.
Please make sure your spelling is correct.
{% endblocktrans %}
</p>
<p>{% url 'djiki-page-edit' title|urlize_title as edit_url %}
{% blocktrans %}You may also <a href="{{ edit_url }}">create a new page</a>
named <strong>{{ title }}</strong>.
{% endblocktrans %}
</p>

<h3>DDBC</h3>
<p>
{% ddbc_place_name title %}
</p>

{% endblock %}
