{% extends 'roche/base.html' %}

{% block content %}
<div class="container" style="margin-top: 60px;">
<h2>{{ r.lemma }}
{% if r.is_person %}
{% if r.birthYear and r.deathYear %}
({{r.birthYear}}&ndash;{{r.deathYear}})
{% elif r.birthYear %}
(b. {{ r.birthYear }})
{% elif r.deathYear %}
(d. {{ r.deathYear }})
{% endif %}
</h2>

{% if r.zi or r.hao %}
<ul>
{% if r.zi %}
<li>字 <a href="{{ r.zi }}">{{ r.zi }}</a></li>
{% endif %}
{% if r.hao %}
<li>號 <a href="{{ r.hao }}">{{ r.hao }}</a></li>
{% endif %}
</ul>
{% endif %}
{% endif %}

{% if r.birthPlace or r.deathPlace %}
<ul>
{% if r.birthPlace %}
<li>born in <a href="{{ r.birthPlace }}">{{ r.birthPlace }}</a></li>
{% endif %}
{% if r.deathPlace %}
<li>died in <a href="{{ r.deathPlace }}">{{ r.deathPlace }}</a></li>
{% endif %}
</ul>
{% endif %}

<h4 style="margin-top: 30px; color: grey;">Wikipedia</h4>
{% if wikipedia_en %}
<p>
{{ wikipedia_en }}
<a href="{{ wikipedia_en_url }}"><strong>&hellip;</strong></a>
</p>
{% endif %}

{% if wikipedia_zh %}
<p>
{{ wikipedia_zh }}
<a href="{{ wikipedia_zh_url }}"><strong>&hellip;</strong></a>
</p>
{% endif %}

{% if not r.is_person %}
<h4>CBDB</h4>
{{ cbdb_result }}
</div>
{% endif %}

{% endblock %}
