
.dropdown-menu > li > a#annotation-person:hover {
	background-color: blue;
}

.dropdown-menu > li > a#annotation-place:hover {
	background-color: red;
}

.dropdown-menu > li > a#annotation-term:hover {
	background-color: green;
}

#droparea {
	border: 3px dashed #ccc;
	padding: 10px;
	background: #fff;
	min-height: 200px;
}

#droparea .droparea-info {
  color: #999;
  text-align: center;
}

.carousel-slide{
	margin-top:50px;
};

.jumbotron {
	height: 400px;
	background-image: url("/static/images/img_003.jpg");
	background-size: cover;
}


.homepage-slideshow-a {

	background-image: url("/static/images/img_003.jpg");
}

.navbar.transparent {
   background: rgba(0,0,0,0.7);
}

.placeName {
	color: red;
}

.name {
	/* background: AliceBlue; */
}

.measure {
	/* background-color: Gainsboro; */
	background: WhiteSmoke;
}

.time {
	background: WhiteSmoke;
}

.date {
	background: WhiteSmoke;
}

.pc {
	color: Gray;
}

.term {
	color: green;
}

.title {
	color: green;
}

.num {
	background: WhiteSmoke;
}

.quote {
	background: OldLace;
}

.pb {
	color:  SlateGray;
}
