{% extends 'roche/base.html' %}
{% load i18n %}

{% block content %}

<div class="container" style="margin-top: 70px;">

<div class="page-header">
  <h1>{{tei_documents.0.title}} <small>{{tei_documents.0.title_en}}</small></h1>
</div>

<h1 style="text-align: center; color: grey; margin: 20px 0px 30px 0px;">
{{ juan }}
</h1>

{% ifequal timeline_persons '[]' %}
No timeline to show for this text. Please try another chapter.
{% endifequal %}

<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script type="text/javascript">
google.setOnLoadCallback(drawChart);

function drawChart() {
	var container = document.getElementById('timeline1');
	var chart = new google.visualization.Timeline(container);
	var dataTable = new google.visualization.DataTable();

	var persons = {{ timeline_persons |safe }};
	if (persons.length == 0) {
		return;
	}

	dataTable.addColumn({ type: 'string', id: 'Name' });
	dataTable.addColumn({ type: 'date', id: 'Start' });
	dataTable.addColumn({ type: 'date', id: 'End' });

	for (i in persons) {
		dataTable.addRow( [ persons[i][0], new Date( persons[i][1], 1, 1), new Date(persons[i][2], 1, 1)]);
	}

	chart.draw(dataTable);
}
</script>

<div id="timeline1" style="height: 1900px;"></div>

</div>

{% endblock %}
