{% extends 'roche/base.html' %}

{% load i18n %}

{% block page_title %}
The Digital Siku Quanshu Project
{% endblock %}


{% block content %}
<div class="jumbotron">
</div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>{% trans "Browse Library" %}</h2>
          <p>
          {% blocktrans %}Browse our library and explore collections, author or time frames.{% endblocktrans %}
          </p>
          <p><a class="btn btn-default" href="browse/" role="button">{% trans "View details" %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>{% trans "Full Text Search" %}</h2>
          <p>
          {% blocktrans %}Semantically search in <a href="browse/">{{ number_texts }} texts</a> by <a href="browse/author/">{{ number_authors }} authors</a>.{% endblocktrans %}
          </p>
          <p><a class="btn btn-default" href="search/" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>{% trans "OCR Service" %}</h2>
          <p>We provide Optical Character Recognition for chinese.</p>
          <p><a class="btn btn-default" href="ocr/" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- column 2 -->
      <div class="row">
        <div class="col-md-4">
          <h2>{% trans "Semantic Editor" %}</h2>
          <p>
          {% blocktrans %}Annotate text in the semantic editor.{% endblocktrans %}
          </p>
          <p><a class="btn btn-default" href="#" role="button">{% trans "View details" %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>{% trans "Documentation" %}</h2>
          <p>Learn how to contribute and use this site more efficiently.</p>
          <p><a class="btn btn-default" href="documentation/" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>{% trans "Ontology" %}</h2>
          <p>We run a SPARQL endpoint with #people #places.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
 </div> <!-- /container -->

{% endblock %}
