{% extends 'roche/base.html' %}

{% load i18n %}

{% block page_title %}
{% if LANGUAGE_CODE == "en" %}
The Digital Siku Quanshu Project
{% endif %}
{% endblock %}


{% block content %}


<!--
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>{% trans "Browse Library" %}</h2>
          <p>
          {% blocktrans %}Browse our library and explore collections, author or time frames.{% endblocktrans %}
          </p>
          <p><a class="btn btn-default" href="browse/" role="button">{% trans "View details" %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>{% trans "Full Text Search" %}</h2>
          <p>
          {% blocktrans %}Semantically search in <a href="browse/">{{ number_texts }} texts</a> by <a href="browse/author/">{{ number_authors }} authors</a>.{% endblocktrans %}
          </p>
          <p><a class="btn btn-default" href="search/" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>{% trans "OCR Service" %}</h2>
          <p>We provide Optical Character Recognition for chinese.</p>
          <p><a class="btn btn-default" href="ocr/" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>{% trans "Semantic Editor" %}</h2>
          <p>
          {% blocktrans %}Annotate text in the semantic editor.{% endblocktrans %}
          </p>
          <p><a class="btn btn-default" href="#" role="button">{% trans "View details" %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>{% trans "Documentation" %}</h2>
          <p>Learn how to contribute and use this site more efficiently.</p>
          <p><a class="btn btn-default" href="documentation/" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>{% trans "Ontology" %}</h2>
          <p>We run a SPARQL endpoint with #people #places.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
-->
<!--
<div class="slide-wrapper slide-featured">
<div class="flexslider slide-direction-nav slide-auto" style="margin-top: 50px;">
  <ul class="slides">


<li class="cover-image">

<a class="coverhomepage-slideshow-a" href="/uima/basic/">
<div class="container">
<div class="row">
<div class="span5">
<div class="slide-content">
<h1 class="slide-title">UIMA Analysis Engine</h1>
<p class="slide-caption">
{% if LANGUAGE_CODE == "de" %}
für automatische Auszeichnungen
{% elif LANGUAGE_CODE == "en" %}
for automatic annotations
{% elif LANGUAGE_CODE == "zh" %}
XXX
{% endif %}
</p>
</div>
</div>
</div>
</div>
</a>

    </li>


    <li>
<a class="coverhomepage-slideshow-a" href="/ocr/">
<div class="container">
<div class="row">
<div class="span5">
<div class="slide-content">
<h1 class="slide-title">OCR Service</h1>
<p class="slide-caption">
{% if LANGUAGE_CODE == "de" %}
für eine Volltexterkennung
{% elif LANGUAGE_CODE == "en" %}
for fulltext extraction
{% elif LANGUAGE_CODE == "zh" %}
XXX
{% endif %}
</p>
</div>
</div>
</div>
</div>
</a>

    </li>

    <li>
<a class="coverhomepage-slideshow-a" href="/documentation/sparql/">
<div class="container">
<div class="row">
<div class="span5">
<div class="slide-content">
<h1 class="slide-title">SPARQL Endpoint</h1>
<p class="slide-caption">to query an ontology for classic china</p>
</div>
</div>
</div>
</div>
</a>

    </li>

    <li>
      <img src="http://studiompls.com/assets/homepage_slideshow_weinstein8.jpg">
    </li>
  </ul>
</div>
</div>
-->

<div id="carousel-example-generic" class="carousel-slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      	<a  href="/browse/"><img src="/static/images/LIBRARY.jpg" alt="TEXTS"></a>
      	<div class="carousel-caption">
        <h1>Text Library</h1>
	<p>
	{% if LANGUAGE_CODE == "de" %}
	Sammlung	
	{% elif LANGUAGE_CODE == "en" %}
	Collection
	{% elif LANGUAGE_CODE == "zh" %}
	集
	{% endif %}
	</p>
      </div>
   </div>
   <div class="item">
  	<a href="/documentation/sparql/"><img src="/static/images/SPARQL.jpg" alt="SPARQL"></a>
  	<div class="carousel-caption">
	<h1>SPARQL Endpoint</h1>
	<p>
   	 {% if LANGUAGE_CODE == "de" %}
	für komplexe Suchen
	{% elif LANGUAGE_CODE == "en" %}
	for complex queries
	{% elif LANGUAGE_CODE == "zh" %}
	XXX
	{% endif %}
	</p>	
  	</div>
   </div> 

    <div class="item">
      	<a  href="/uima/basic/"><img src="/static/images/UIMA.jpg" alt="UIMA"></a>
      	<div class="carousel-caption">
        <h1>UIMA Analysis Engine</h1>
	<p>
	{% if LANGUAGE_CODE == "de" %}
	für automatische Auszeichnungen
	{% elif LANGUAGE_CODE == "en" %}
	for automatic annotations
	{% elif LANGUAGE_CODE == "zh" %}
	分析
	{% endif %}
	</p>
      </div>
   </div>
   <div class="item">
  	<a  href="/ocr/"><img src="/static/images/OCR.jpg" alt="OCR"></a>
  	<div class="carousel-caption">
	<h1>OCR Service</h1>
	<p>
   	 {% if LANGUAGE_CODE == "de" %}
	für eine Volltexterkennung
	{% elif LANGUAGE_CODE == "en" %}
	for fulltext extraction
	{% elif LANGUAGE_CODE == "zh" %}
	XXX
	{% endif %}
	</p>
	</div>	
  </div>
</div>

  <!-- Controls -->
  <a class="left-carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right-carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


<div class="container">
<table 	class="table table-hover">
        <thead>
        <tr>
        <th>
{% if LANGUAGE_CODE == "de" %}
Titel
{% elif LANGUAGE_CODE == "en" %}
Title
{% elif LANGUAGE_CODE == "zh" %}
書名
{% endif %}
	</th>
        <th>
{% if LANGUAGE_CODE == "de" %}
Verfasser
{% elif LANGUAGE_CODE == "en" %}
Author
{% elif LANGUAGE_CODE == "zh" %}
作者
{% endif %}
	</th>
        <th></th>
        </tr>
        <thead>

        <tbody>
        {% for document in tei_documents %}
        <tr>
        <td><a href="{% url 'browser.views.text_view' document.title %}">{{document.title}} <small style="color: gray;">{{document.title_en}}</small></a></td>
        <td><a href="{% url 'browser.views.index_author' document.author %}">{{document.author}}</a></td>
        <td><a href="{% url 'r.views.text_info' document.title %}"><span class="glyphicon glyphicon-info-sign"></span></a></td>
        </tr>
        {% endfor %}
        </tbody>
</table>

 </div> <!-- /container -->

{% endblock %}
