{% extends 'roche/base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
<h4>Texts</h4>
<table class="table table-hover">
	<tbody>
	{% for document in tei_documents %}
	<tr>
	<td><a href="{% url 'browser.views.text_view' document.title %}">{{document.title}} ({{document.title_en}})</a></td>
	<td style="text-align: right;"><a href="{% url 'browser.views.index_author' document.author %}">{{document.author}}</a></td>
	</tr>
	{% endfor %}
	</tbody>

</table>

<h4>Names</h4>

</div>

{% endblock %}
