{% extends 'roche/base.html' %}
{% load i18n %}

{% block content %}

<div class="container" style="margin-top: 70px;">
<table class="table table-hover">
	<thead>
	<tr>
	<th>Title</th>
	<th>Author</th>
	<th></th>
	</tr>
	<thead>

	<tbody>
	{% for document in tei_documents %}
	<tr>
	<td><a href="{% url 'browser.views.text_view' document.title %}">{{document.title}} <small style="color: gray;">{{document.title_en}}</small></a></td>
	<td><a href="{% url 'browser.views.index_author' document.author %}">{{document.author}}</a></td>
	<td><a href="{% url 'r.views.text_info' document.title %}"><span class="glyphicon glyphicon-info-sign"></span></a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>

</div>

{% endblock %}
