{% extends 'roche/base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
<h3>Last modified</h3>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
		</tr>
	</thead>

	<tbody>
	{% for document in tei_documents %}
		<tr>
			<td><a href="{% url 'browser.views.text_view' document.title %}">{{document.title}}</a></td>
			<td><a href="{% url 'browser.views.text_view' document.title %}">{{document.author}}</a></td>
		</tr>
	{% endfor %}
	</tbody>

</table>
</div>

{% endblock %}
