{% extends 'roche/base.html' %}
{% load i18n %}
{% load static %}

{% block page_title %}
  {{tei_documents.0.title}} ({{tei_documents.0.title_en}})
{% endblock %}

{% block info_area %}
 {{tei_documents.0.title}}
{% endblock %}

{% block content %}

<script src="{% static 'js/zepto.min.js' %}"></script>

<div class="container" style="font-size: 220%; margin-top: 70px;">

<div class="nav navbar-right">
<div class="container">

<div class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-right">

<li class="dropdown">
<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
Visual
<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
<li role="presentation" class="dropdown-header">Chart</li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="visual/timeline">Timeline</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Annotation</li>
<li role="presentation"><a id="annotation-person" role="menuitem" tabindex="-1" href="#">Person</a></li>
<li role="presentation"><a id="annotation-place" role="menuitem" tabindex="-1" href="#">Place</a></li>
<li role="presentation"><a id="annotation-term" role="menuitem" tabindex="-1" href="#">Term</a></li>
<li role="presentation"><a id="annotation-title" role="menuitem" tabindex="-1" href="#">Title</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Additional Annotations</li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Page Layout</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rhyme</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rhyme Groups</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Intertextual References</a></li>
</ul>
</li>

<li class="dropdown">
<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
Export
<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
<li role="presentation"><a role="menuitem" tabindex="-1" href="txt">TXT</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="pdf">PDF</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="tei">TEI</a></li>
</ul>
</li>


<li>
<!-- Button trigger modal -->
<button class="btn btn-default" data-toggle="modal" data-target="#myModal">
  Help
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

<h4 class="modal-title" id="myModalLabel">Help and Shortcuts</h4>
</div>
<div class="modal-body">
<p>
In this text view you can annotate expressions. Mark a section of the text
and press a key to send the selection to the server. Press <strong>1</strong>
for person names, <strong>3</strong> for place names and <strong>t</strong>
for terms.
</p>

<p> 
There is no need to wait for the server response. Annotations are send to
a work queue and will be processed in sequence.  But the server response
will cause a page reload to show the new annotation, so please reload
the page yourself after a few second, if you annote a text in fast sequence.
</p>

<p>
The UIMA worker will try to annotate the <i>juan</i> the annotation you selected
occurs in first to provide a fast response.  The whole work is then processed
afterwards.
</p>

<p>
Thanks for your contribution!
</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</li>

</ul>
</div>
</div>
</div>

<div class="page-header">
  <h1>{{tei_documents.0.title}} <small>{{tei_documents.0.title_en}}</small></h1>
</div>

	{% autoescape off %}
	{{tei_transform}}
	{% endautoescape %}

<!-- Wikipedia modal -->
<div id="wikipediaModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

<h4 class="modal-title" id="wikipediaLabel">Wikipedia</h4>
</div>
<div class="modal-body" id="wikipediaBody">
      ...
</div>
    </div>
  </div>
</div>

</div>

<script type="text/javascript">

function BrowserView() {
	this.hidingInterpuction = false;
	this.hidingPagebreak = false;
        this.selectedText = '';
	this.selectedJuan;
};

BrowserView.prototype.keyUp = function (event) {
	var pressedKey = event.keyCode;

	console.log(pressedKey);

	lemma = this.selectedText;
	juan = this.selectedJuan;

	send_msg = "Sending and processing request...";

	if (isNaN(juan)) {
		console.log("No juan found, falling back to generic annotation urls.");

		url_persname = '/annotate/{{text_title}}/persname/' + lemma;
		url_placename = '/annotate/{{text_title}}/placename/' + lemma;
		url_term = '/annotate/{{text_title}}/term/' + lemma;
	} else {
		url_persname = '/annotate/{{text_title}}/' + juan + '/persname/' + lemma;
		url_placename = '/annotate/{{text_title}}/' + juan + '/placename/' + lemma;
		url_term = '/annotate/{{text_title}}/' + juan + '/term/' + lemma;
	}

	if (pressedKey == 83) {
		if (this.hidingPagebreak) {
			$(".pb").removeClass("hide");
			this.hidingPagebreak  = false;
		} else {
			$(".pb").addClass("hide");
			this.hidingPagebreak = true;
		}
		console.log("Hiding 'pb' elems");
	} else if (pressedKey == 190) {
		if (this.hidingInterpuction) {
			$(".pc").removeClass("hide");
			this.hidingInterpuction = false;
		} else {
			$(".pc").addClass("hide");
			this.hidingInterpuction = true;
		}
		console.log("Hiding 'pc' elems");
	} else if (pressedKey == 49) {
		$('#infoarea').text(send_msg);
		$.ajax({
			type: 'GET',
			url: url_persname,
			data: {},
			success: function(data, status) {
				if (data == "OK") {
					$('#infoarea').text("Person name " + lemma + " added.");
					location.reload(true);
				}
				console.log("Success " + data);
				},
			}).done(function (msg) {
				console.log("Ajax done");
			});

		console.log("Annotate persName " + this.selectedText);
	} else if (pressedKey == 51) {
		$('#infoarea').text(send_msg);
		$.ajax({
			type: 'GET',
			url: url_placename,
			data: {},
			success: function(data, status) {
				if (data == "OK") {
					$('#infoarea').text("Place name " + lemma + " added.");
					location.reload(true);
				}
				console.log("Success " + data);
				},
			error: function(data) {
				console.log("Error " + data);
				},
			}).done(function (msg) {
				console.log("Ajax done");
			});
		console.log("Annotate placeName " + this.selectedText);
	} else if (pressedKey == 84) {
		$('#infoarea').text(send_msg);
		$.ajax({
			type: 'GET',
			url: url_term,
			data: {},
			success: function(data, status) {
				if (data == "OK") {
					$('#infoarea').text("Term" + lemma + " added.");
					location.reload(true);
				}
				console.log("Success " + data);
				},
			error: function(data) {
				console.log("Error " + data);
				},
			}).done(function (msg) {
				console.log("Ajax done");
			});
		console.log("Annotate term " + this.selectedText);
	} else if (pressedKey == 39 || pressedKey == 37) {
		var current_juan;
		var url;

		var matcher = location.pathname.match('(.*)/([0-9]+)/$');
		if (matcher == null) {
			url = location.pathname;
			current_juan = 1;
		} else {
			url = matcher[1];
			current_juan = parseInt(matcher[2]);
		}

		var next_juan = current_juan + 1;
		var prev_juan = current_juan - 1;

		if (next_juan > {{max_juan}}) {
			next_juan = 1;
		}

		if (prev_juan == 0) {
			prev_juan = {{max_juan}};
		}

		var new_url = null;
		if (pressedKey == 39) {
			new_url = url + '/' + next_juan.toString() + '/';
		} else {
			new_url = url + '/' + prev_juan.toString() + '/';
		}

		location.assign(new_url);
	} else if (pressedKey == 87) {
		var mwjs = new MediaWikiJS('https://zh.wikipedia.org',
		     {action: 'query', prop: 'extracts', titles: lemma},
		     function (data) {
			'use strict';

			//alert(JSON.stringify(data));

			var pages = data.query.pages;

			$('#wikipediaBody').html(pages[Object.keys(pages)[0]]['extract']);
			$('#wikipediaModal').modal('toggle');
		});
	}

	console.log(pressedKey);
};

BrowserView.prototype.mouseUp = function (event) {
	var selectedText = "NO-RESULT";
	var anchor;

	if (window.getSelection) {
		var range = window.getSelection();
		anchor = range.anchorNode;

		selectedText = range.toString();
	} else if (document.selection.createRange) {
		var range = document.selection.createRange();
		anchor = range.anchorNode;

		selectedText = range.text;
	}

	this.selectedJuan = parseInt(anchor.parentElement.parentElement.firstElementChild.innerHTML);
	this.selectedText = selectedText;

	console.log(this.selectedJuan);
	console.log(this.selectedText);
};

var browserView = new BrowserView();

$(document).bind('mouseup', browserView.mouseUp);
$(document).bind('keyup', browserView.keyUp);

$(function(){
$('[data-toggle="tooltip"]').tooltip({
    'placement': 'top'
});
});

</script>

{% endblock %}
