{% extends 'roche/base.html' %}
{% load i18n %}

{% block page_title %}
  {{tei_documents.0.title}} ({{tei_documents.0.title_en}})
{% endblock %}

{% block content %}


<div class="container" style="margin-top: 70px;">
<h1>{{tei_documents.0.title}} ({{tei_documents.0.title_en}})</h1>

<h3>Contents</h3>
<table class="table table-striped">

<thead>
<tr>
<th># juan</th>
<th></th>
<th># Words</th>
</tr>
</thead>

<tbody>
{% for ct in chapter_titles %}
<tr>
<td>
<a href="{% url 'browser.views.text_view_juan' tei_documents.0.title ct.0 %}">{{ct.0}}</a>
</td>
<td>
{{ct.1}}
</td>
<td>
{{ct.2}}
</td>
</tr>
{% endfor %}
</tbody>

</table>

<h3>TEI Annotations</h3>
<div class="panel panel-warning">
<div class="panel-heading">Places</div>
<div class="panel-body">
{% for place in place_names %}
<a href="{% url 'sparql.views.index' place %}">{{place}}</a>
{% endfor %}
</div>
</div>

<div class="panel panel-info">
<div class="panel-heading">Persons</div>
<div class="panel-body">
{% for person in persons %}
<a href="{% url 'sparql.views.index' person %}">{{ person }}</a>
{% endfor %}
</div>
</div>

<div class="panel panel-success">
<div class="panel-heading">Terms</div>
<div class="panel-body">
{% for term in terms %}
<a href="{% url 'sparql.views.index' term %}">{{ term }}</a>
{% endfor %}
</div>
</div>


</div>

{% endblock %}
