{% extends 'roche/base_text.html' %}
{% load i18n %}
{% load static %}

{% block page_title %}
  {{tei_documents.0.title}} ({{tei_documents.0.title_en}})
{% endblock %}

{% block info_area %}
 {{tei_documents.0.title}}
{% endblock %}

{% block content %}

<script src="{% static 'js/zepto.min.js' %}"></script>

<div class="container" style="font-size: 220%; margin-top: 70px;">
<div class="page-header">
  <h1>{{tei_documents.0.title}} <small>{{tei_documents.0.title_en}}</small></h1>
</div>

	{% autoescape off %}
	{{tei_transform}}
	{% endautoescape %}

</div>

<script type="text/javascript">

function BrowserView() {
	this.hidingInterpuction = false;
        this.selectedText = '';
};

BrowserView.prototype.keyUp = function (event) {
	var pressedKey = event.keyCode;

	console.log(pressedKey);

	lemma = this.selectedText;

	if (pressedKey == 190) {
		if (this.hidingInterpuction) {
			$(".pc").removeClass("hide");
			this.hidingInterpuction = false;
		} else {
			$(".pc").addClass("hide");
			this.hidingInterpuction = true;
		}
		console.log("Hiding 'pc' elems");
	} else if (pressedKey == 49) {
		$('#infoarea').text("Sending request...");
		$.ajax({
			type: 'GET',
			url: '/annotate/{{text_title}}/persname/' + lemma,
			data: {},
			success: function(data, status) {
				if (data == "OK") {
					$('#infoarea').text("Person name " + lemma + " added.");
					location.reload();
				}
				console.log("Success " + data);
				},
			}).done(function (msg) {
				console.log("Ajax done");
			});

		console.log("Annotate persName " + this.selectedText);
	} else if (pressedKey == 51) {
		$('#infoarea').text("Sending request...");
		$.ajax({
			type: 'GET',
			url: '/annotate/{{text_title}}/placename/' + lemma,
			data: {},
			success: function(data, status) {
				if (data == "OK") {
					$('#infoarea').text("Place name " + lemma + " added.");
					location.reload();
				}
				console.log("Success " + data);
				},
			error: function(data) {
				console.log("Error " + data);
				},
			}).done(function (msg) {
				console.log("Ajax done");
			});
		console.log("Annotate placeName " + this.selectedText);
	} else if (pressedKey == 84) {
		$('#infoarea').text("Sending request...");
		$.ajax({
			type: 'GET',
			url: '/annotate/{{text_title}}/term/' + lemma,
			data: {},
			success: function(data, status) {
				if (data == "OK") {
					$('#infoarea').text("Term" + lemma + " added.");
					location.reload();
				}
				console.log("Success " + data);
				},
			error: function(data) {
				console.log("Error " + data);
				},
			}).done(function (msg) {
				console.log("Ajax done");
			});
		console.log("Annotate term " + this.selectedText);
	}
};

BrowserView.prototype.mouseUp = function (event) {
	var selectedText = "NO-RESULT";

	if (window.getSelection) {
		var range = window.getSelection();

		selectedText = range.toString();
	} else if (document.selection.createRange) {
		var range = document.selection.createRange();

		selectedText = range.text;
	}

	this.selectedText = selectedText;

	console.log(this.selectedText);
};

var browserView = new BrowserView();

$(document).bind('mouseup', browserView.mouseUp);
$(document).bind('keyup', browserView.keyUp);

$(function(){
$('[data-toggle="tooltip"]').tooltip({
    'placement': 'top'
});
});

</script>

{% endblock %}
