{% extends 'roche/base.html' %}
{% load i18n %}

{% block page_title %}
  {{tei_documents.0.title}} ({{tei_documents.0.title_en}})
{% endblock %}

{% block content %}


<div class="container" style="font-size: 220%; margin-top: 70px;">

<h3>Persons</h3>
{% for person in persons %}
{{ person }}
{% endfor %}

<h3>Terms</h3>
{% for term in terms %}
{{ term }}
{% endfor %}

<h3>Place names</h3>
{% for place in place_names %}
{{place}}
{% endfor %}

	{% autoescape off %}
	{{tei_transform}}
	{% endautoescape %}

</div>

{% endblock %}
