{% extends 'roche/base.html' %}
{% load i18n %}
{% load leaflet_tags %}

{% block page_title %}
  {{tei_documents.0.title}} ({{tei_documents.0.title_en}})
{% endblock %}

{% block content %}


<div class="container" style="margin-top: 70px;">
<div class="page-header">
<h1>{{tei_documents.0.title}} <small>{{tei_documents.0.title_en}}</small></h1>
</div>


<h3>Contents</h3>
<table class="table table-striped">

<thead>
<tr>
<th># juan</th>
<th></th>
<th># Words</th>
</tr>
</thead>

<tbody>
{% for ct in chapter_titles %}
<tr>
<td>
<a href="{% url 'browser.views.text_view_juan' tei_documents.0.title ct.0 %}">{{ct.0}}</a>
</td>
<td>
{{ct.1}}
</td>
<td>
{{ct.2}}
</td>
</tr>
{% endfor %}
</tbody>

</table>

<script type="text/javascript">

function map_init_basic(map, options) {
        data = {{ js_data | safe}};
	console.log(data);
        for (i = 0; i < data.length; i++) {
		L.marker(data[i][0], { title: data[i][1] }).addTo(map);
	}
}
</script>


{% leaflet_map "placeNames" callback="window.map_init_basic" %}

</div>

{% endblock %}
